body {
    color: #000;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

$p1 {
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 1px 3px rgba(255, 255, 255, .5);
}
